<html>
    <head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://pixinvent.com/stack-responsive-bootstrap-4-admin-template/app-assets/css/bootstrap-extended.min.css">
  <link rel="stylesheet" href="https://pixinvent.com/stack-responsive-bootstrap-4-admin-template/app-assets/fonts/simple-line-icons/style.min.css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    </head>
    <body>
    <div class="container-fluid">
    <div class="row">
      <div class="col-xl-6 col-sm-6 col-12">
        <div class="card">
          <div class="card-content">
            <div class="card-body">
              <div class="media d-flex">
                <div class="align-self-center"> 
                  <i class="fa-solid fa-laptop-code primary font-large-2 float-left" style="color:rgb(110, 110, 190);"></i> 
                </div>
                <div class="media-body text-right">
                  <h3>278</h3>
                  <span>cas de tests</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-6 col-sm-6 col-12">
        <div class="card">
          <div class="card-content">
            <div class="card-body">
              <div class="media d-flex">
                <div class="align-self-center">
                  <i class="fa-solid fa-gear warning font-large-2 float-left" style="color:rgb(211, 39, 45);"></i>
                </div>
                <div class="media-body text-right">
                  <h3>156</h3>
                  <span>Modules</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
<div class="container">
    <div class="row">
      <!-- Carte pour le Pie Chart -->
      <div class="col-md-6">
        <div class="card">
          <div class="card-body">
            <div class="chart-container">
              <canvas id="statusPieChart"></canvas>
            </div>
          </div>
        </div>
      </div>
      <!-- Carte pour le Doughnut Chart -->
      <div class="col-md-6">
        <div class="card">
          <!-- <div class="card-header">
            Nombre d'Étapes
          </div> -->
          <div class="card-body">
            <div class="chart-container">
              <canvas id="stepsDoughnutChart"></canvas>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <!-- Carte pour le Bar Chart -->
      <div class="col-md-6">
        <div class="card">
          <div class="card-body">
            <div class="chart-container">
                <canvas id="durationLineChart"></canvas>
              </div>
      
          </div>
        </div>
      </div>
      <!-- Carte pour le Line Chart -->
      <div class="col-md-6">
        <div class="card">

          <div class="card-body">
            <div class="chart-container">
            <canvas id="durationBarChart"></canvas>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
    </body>
</html>

  